body{
    height: 80vh;
    width: 75vw;
    display:contents;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}

.container{
    width: 300px;
    font-size: xx-large;
}


h1{
    color: #000000;
}

a:hover{color: #AED6F1;
font-size: larger;}

.tool{
    font-family: tangerine;
    font-size: xx-large;
    color: #A93226;
}